@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    height: 100%;
    background-color: white;
}

ul li {
  list-style-type: none;
}

/*navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  background-color: #5f8575;
}

.logo {
  color: white;
  font-size: 28px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:hover {
  color: #e0ac1c;
  transition: 0.3s;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #e0ac1c;
  transition: 0.3s;
}

button {
  border: none;
  background: #4caf50;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

nav a .fa-user {
    color: white;
}

nav a .fa-user:hover{
    color:#e0ac1c;
}

/* footer */

.footer-distributed {
    background-color: #5f8575;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links  {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed ul.footer-links  li a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

.footer-distributed ul.footer-links li a:hover {
    color: #e0ac1c;
    padding-left: 15px;
    transition: 0.5s ease;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-center h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}


@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  

/* form */
.wrapper {
    max-width: 500px;
    width: 100%;
    background-color: #dff4e1;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 1px solid #33383b;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #33383b;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;    
}

.wrapper .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label {
    width: 200px;
    color: #33383b;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 300;
}

.wrapper .form .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3 ease;
}

.wrapper .form .input_field .input:focus {
    border: 1px solid #33383b;
}

.wrapper .form .input_field .submit-btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #33383b;
    color: #33383b;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.wrapper .form .input_field .submit-btn:hover {
    background-color: #4caf50;
    color: white;
}
